// .cart-table {
//   width: 100%;
//   max-width: 800px;
//   margin: auto;
//   background-color: rgb(254,210,1);
//   border-radius: 8px;
//   overflow: hidden;
//   box-shadow: 0 4px 8px rgb(254,210,1);
// }
// // rgba(254,210,1,255)
// // rgba(0,103,164,255) rgb(0,103,164)
// .cart-table tbody tr {
//   border-bottom: 1px solid #ddd;
// }

// .cart-item-image .image-container {
//   background-size: cover;
//   background-position: center;
//   width: 50px;
//   height: 50px;
//   border-radius: 4px;
// }

// .cart-item-name {
//   font-weight: 600;
//   padding-left: 10px;
// }

// .cart-item-price {
//   color: rgb(0,103,164);
//   font-weight: 500;
// }

// .cart-item-action .delete-icon {
//   // color: rgb(254,210,1,255);
//   color: rgb(0,103,164);
//   cursor: pointer;
//   transition: color 0.3s;
// }

// .cart-item-action .delete-icon:hover {
//   color: rgb(0,103,164);
// }

// .cart-summary {
//   padding: 15px;
//   font-size: 1.2rem;
//   background-color: rgb(254,210,1);
//   border-top: 1px solid #ddd;
// }

// .coupon-section {
//   display: flex;
//   align-items: center;
//   margin-top: 10px;
// }

// .coupon-input {
//   padding: 5px;
//   font-size: 0.9rem;
//   margin-right: 10px;
//   border-radius: 4px;
//   border: 1px solid #ccc;
// }

// .order-btn {
//   margin-top: 20px;
//   padding: 10px 15px;
//   font-size: 1rem;
//   font-weight: 600;
//   background-color: #eeff00;
//   color: rgb(0,103,164);
//   border: none;
//   border-radius: 4px;
//   transition: background-color 0.3s;
// }

// .order-btn:hover {
//   background-color: #eeff00;
// }

// h4, h5, h3 {
//   margin: 5px 0;
// }

// .text-right {
//   text-align: right;
// }

// .text-center {
//   text-align: center;
// }

// @media (max-width: 600px) {
//   .cart-table tbody tr td {
//     display: block;
//     text-align: center;
//     background-color: #ffe600;

//   }

//   .cart-table tbody tr {
//     border-bottom: none;
//   }

//   .cart-summary {
//     text-align: center;
//   }
// }


.cart-quantity-row td {
  font-size: 14px;
  font-weight: bold;
  color: rgb(3, 105, 144);
}


.cart-summary h4 {
  margin: 0 0 10px;
  font-size: 16px;
  color: rgb(3, 105, 144);
}

.coupon-section button {
  background-color: rgb(254, 210, 1);
  color: rgb(3, 105, 144);
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.coupon-section button:hover {
  background-color: rgb(203, 173, 27);
}


.custom-button-container button {
  background-color: rgb(254, 210, 1)  ;
  color: rgb(3, 105, 144)  ;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-button-container button:hover {
  background-color: rgb(203, 173, 27)  ;
}