.cart-table {
  width: 100%;
  max-width: 800px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.cart-item-image .image-container {
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.cart-item-name {
  font-weight: 600;
  padding-left: 10px;
}

.cart-item-price {
  color: #555;
  font-weight: 500;
}

.cart-item-action .delete-icon {
  color: #e74c3c;
  cursor: pointer;
  transition: color 0.3s;
}

.cart-item-action .delete-icon:hover {
  color: #c0392b;
}

.cart-summary {
  padding: 15px;
  font-size: 1.2rem;
  background-color: #eef9e9;
  border-top: 1px solid #ddd;
}

.coupon-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.coupon-input {
  padding: 5px;
  font-size: 0.9rem;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.order-btn {
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #eeff00;
  color: rgb(237, 241, 0);
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.order-btn:hover {
  background-color: #eeff00;
}

h4, h5, h3 {
  margin: 5px 0;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

@media (max-width: 600px) {
  .cart-table tbody tr td {
    display: block;
    text-align: center;
    background-color: #ffe600;

  }

  .cart-table tbody tr {
    border-bottom: none;
  }

  .cart-summary {
    text-align: center;
  }
}
