
<table class="table table-success" style="width: 100px;" >
  <tbody>
    @for (item of cartItems; track $index) {
    <tr>
      <td>
        <div class="rounded"
          style="background-image: url({{item.imageUrl}}); background-size: cover; height: 50px; width: 50px;">
        </div>
      </td>
      <td class="align-middle text-left">{{item.productName}}</td>
      <td class="align-middle text-right">${{item.price}}</td>
      <td class="align-middle text-center"><a (click)="delete($index)" data-toggle="modal"
          data-title="Delete your product ?"><i class="fa fa-trash"></i></a></td>
    </tr>
    }
    <tr>
      <td colspan="3" class="align-middle text-right">Quantity</td>
      <td class="align-middle text-right">{{cartItems.length}}</td>
    </tr>
    <tr>
      <td class="cart-summary">
        <h4>Total: ${{ getTotalPrice() }}</h4>
        <div class="coupon-section">
          <input type="text" [(ngModel)]="couponCode" placeholder="Enter coupon code" />
          <button (click)="applyCoupon()">Apply Coupon</button>
        </div>
        <div *ngIf="discount > 0">
          <h5>Discount Applied: -${{ discount.toFixed(2) }}</h5>
          <h3>Final Total: ${{ (totalPrice - discount).toFixed(2) }}</h3>
        </div>
      </td>
      <td colspan="3">
        <div style="margin-top: 35px;">
          <button (click)="navigateToPage()" >Order Now</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>